config_id: manuscript_sweep
device_layout:
  x_devices: 1
  y_devices: 1
workdir: "{{ PWD }}/smb_share/vasko/manuscript_revised"
max_retry_count: 3
jobs:
{% set rhs_types = [
  ("MM2_a50_r1_jax", "a50_r1"),
] %}
{% set step_stiffnesses = [0.05, 0.1, 1, 5, 10, 50] %}
{% for rhs_type, rhs_label in rhs_types %}
{% for step_stiffness in step_stiffnesses %}
{% set stiffness_label = step_stiffness | string | replace(".", "p") %}
- type: SimulationRunConfig
  job_name: sweep_{{ rhs_label }}_stiffness_{{ stiffness_label }}
  checkpoints_dir: "{{ WORKDIR }}/run_{{ rhs_label }}_step_stiffness_{{ stiffness_label }}"
  step_count: 50
  step_nodes: 200
  step_length: 50
  time_max: 200.0
  time_step: 0.001
  step_stiffness: {{ step_stiffness }}
  rhs_type: {{ rhs_type }}
  initial_spacing: 1.0
  solver_tolerance: 1.0e-06
  checkpoint_interval: 50

{% endfor %}
{% endfor %}